<a href="https://colab.research.google.com/github/deriky7/FIB302/blob/main/Lista_mathematica_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Atividade - Lista Mathematica 1.

1.1 - Compute 1+2+3.

In [ ]:
1+2+3

6

1.2 - Add the numbers 1,2,3,4,5

In [ ]:
1+2+3+4+5

15

1.3 - Multiply the numbers 1,2,3,4,5.

In [ ]:
1*2*3*4*5

120

1.4 - Compute 5 squared (i.e. 5×5 or 5 raised to thepower 2).

In [ ]:
5*5

25

In [ ]:
5**2 # Observação: Em mathematica a simbologia para potênciação é denotada por: "^". Como esta atividade é para ser postada no github, uso a simbologia em python para resolução do mesmo exercício.

25

1.5 - Compute 3 raised to the fourth power.

In [ ]:
3**4

81

1.6 - Compute 10r aised to the power 12 (atrillion)

In [ ]:
10**12

1000000000000

1.7 - Compute 3 raised to the power 7×8.

In [ ]:
3**(7*8)

523347633027360537213511521

1.8 - Add parentheses to 4-2*3+4 tomake it 14

In [ ]:
(4-2)*(3+4)

14

1.9 - Compute twenty-ninethousand multiplied by seventy-three.

In [ ]:
29000*73

2117000

Parte 2 da lista 1 de mathematica.

2.1 - Compute 7+6+5 using the function Plus.

In [ ]:
# Plus[7, 6, 5]
# 18

2.2 - Compute 2×(3+4) using Times and Plus.

In [ ]:
# Times[2, Plus[3, 4]]
# 14

2.3 -  Use Max to find the larger of 6×8 and 5×9.

In [ ]:
# Max[Times[6, 8], Times[5, 9]]
# 48

2.4 - Use RandomInteger to generate arandom integer between 0 and 1000.

In [ ]:
# RandomInteger[1000]
# 390

2.5 - Use Plus and RandomInteger to generate arandom integer between 10 and 20

In [ ]:
# Plus[10, RandomInteger[10]]
# 12